<div class="container">
    <form id="signup" name="signup" method="post" action="/signup">
    <h3>The Basics</h3>
        <label for="firstname">First Name</label>
        <input class="form-control" placeholder="First Name" name="firstname" type="text" required autofocus />
        <label for="lastname">Last Name</label>
        <input class="form-control" placeholder="Last Name" name="lastname" type="text" required autofocus/>
        <label for="username">User Name</label>
        <input class="form-control" placeholder="musiclover1234" name="username" type="text" required autofocus/>
        <label for="email">Email Address</label>
        <input class="form-control" placeholder="email@email.com" class="text" name="email" type="email" required autofocus />
        <label for="password">Password</label>
        <input class="form-control" placeholder="Password" name="password" type="password" required/>
    </div>
</div>

        <button class="btn btn-lg btn-block" type="submit" value="Sign Up">Sign up</button>

    </form>
</div>